<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% if next %}
<form action="/login/?next={{next}}" method="post" >
{%else%}
<form action="/login/" method="post" >
{% endif %}
    email <input type="email" name="email"><br>
    password <input type="password" name="password">
    <button type="submit">login</button>
</form>
</body>
</html>